@font-face {
    font-family: 'alata';
    src: url('alata/alata-regular-webfont.woff') format('woff');
    src: url('alata/alata-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'alata', sans-serif;
}

body p {
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
    box-sizing:border-box;
}

@media (max-width: 900px) {
    .col {
        flex-basis: 50%;
    }
}

@media (max-width: 600px) {
    .linktext {
        display: none;
    }

    .nav-pills .nav-link {
        margin-bottom: 10px;
    }

    .linknum span {
        display: inline !important;
        width: 12px !important;
        height: 22px !important;
    }

    .linknum {
        visibility: visible !important;
    }
}

@media (max-width: 1240px) {
    .about-header {
        flex-direction: column;
    }

    .about-header .about-images {
        flex-direction: row;
        margin-bottom: 20px;
    }

}

img {
    width: 100%;
}

header {
    padding-top: 100px;
    padding-bottom: 50px;
    flex: 1;
}

.site-nav li {
    list-style: none;
    text-align: center;
}

.site-nav a {
    color: red;
    text-decoration: none;
}

.current a {
    color: rgba(255, 0, 0, .2);
    text-decoration: none;
}

.main-area {
    padding-bottom: 50px;
    box-sizing: border-box;
}

.main-area a {
    color: black;
    text-decoration: none;
}

.carousel-item a p {
    background-color: rgba(255, 0, 0, .4);
}

.main-area .sectiontitle {
    margin-bottom: 30px;
}

.gallery-page {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.gallery-page .nav {
    flex-direction: column;
}

.gallery-page nav {
    position: -webkit-sticky;
    position: sticky;
    top: 3rem;
    flex: 1;
}

.gallery-page .gallery-sections {
    padding-left: 50px;
    flex: 7;
}

.nav-link {
    border: 2px solid white;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-pills .nav-link.active {
    color: black;
    background-color: white;
    border: 2px solid rgba(255, 0, 0, .4);
    box-sizing: border-box;
}

.linknum span {
    display: block;
    width: 0;
    height: 0;
}

.linknum {
    visibility: hidden;
}

.row {
    margin-bottom: 20px;
}

.col img:hover {
    box-shadow: 6px 4px 10px rgba(0, 0, 0, .15);
}

.modal-carousel .carousel-item {
    transition: all 1s;
}

.modal-carousel .carousel-item:hover{
    transform: scale(1.5);
}

.modal-carousel p {
    background-color: rgba(0, 0, 0, .15);
    padding: 10px;
}

.about-header {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}

.about-header .about-images{
    max-width: 300px;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
}

.about-header .abouttext {
    max-width: 750px;
}

.card-header {
    background-color: white;
}

.card-header:hover {
    background-color: rgba(0, 0, 0, .1);
}

.btn-link {
    color: black;
    text-decoration: none;
}

.btn-link:hover {
    color: black;
}

footer {
    border-top: 3px solid black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear:both;
}

.group {
    zoom: 1;
}

